.z-jiguo{
    font-size: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header{
    width: 1200px;
    /* height: 70px; */
    margin: 0 auto;
    display: flex;
    /* background-color: aqua; */
    border-bottom: 1px solid gray;

}
/* 头部logo */
.z-left{
    width:250px;
    height: 70px;
    /* float: left; */
}
/* 头部nav */
.z-middle{
    width:700px;
    height: 70px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.z-middle>li>a{
    text-decoration: none;
}
.z-middle>li>a:hover{
    color: red;
}
.z-middle>li{
line-height: 90px;
font-size: 20px;
color: black;


}
/* 头部注册 */
.z-login{
    text-decoration: none;
    /* width: 100px;
    height: 80px; */
    border: 1px solid red;
    /* float: right; */
    color: red;
    line-height: 90px;
    font-size: 20px;
    border-radius: 2px;
    margin-left: 106px;
}
.z-register.z-register{
    width: 400px;
    height: 600px;
    /* background-color: aquamarine; */
    margin: 100px auto;
}
.z-register>input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 2px;
    margin: 10px 15px;
    border: 1px solid gray;
}
.z-register>input:nth-of-type(2){
    width: 200px;
}
.z-register>img{
    margin: 0px 20px;
}
.z-register>input:nth-of-type(3){
   width: 200px;
}
.z-register>button{
 width: 170px;
 height: 50px;
 border-radius: 10px;
  border: 1px solid gray;
  color: gray;
}
.z-register>input:nth-of-type(7){
   background-color: rgb(254,83,65);
   color: white;
   font-size: 20px;
}
 .z-seventh{
               width: 100%;
               height: 500px;
               background-color: rgb(80,80,80);
           }
           .z-seventh>ul{
               width: 1200px;
               height: 500px;
               margin: 0 auto;
               list-style: none;
               display: flex;
               justify-content: space-between;
           }
           .z-seventh>ul>li{
               margin-top: 50px;
           }
           .z-seventh>ul>li>h3{
               color: white;
           }
           .z-seventh>ul>li>p{
               color: rgb(197, 189, 189);
               box-sizing: border-box;
               padding: 10px;
               
           }
              .z-seventh>ul>li>a{
               text-decoration: none;
               color: white;
               
           }
           .z-seventh>ul>li>a>p{
                color: rgb(197, 189, 189);
               box-sizing: border-box;
               padding: 10px;
           }
           .z-seventh>ul>h4{
               position: absolute;
               margin: 400px 500px;
               color: white;
           }
        
            .z-seventh>ul>h5{
                 width: 50px;
               height: 50px;
               border-radius: 25px;
               position: absolute;
               margin: 450px 1000px;
               color: white;
               background-color: bisque;
               border: 1px solid white; 
           }
           .z-seventh>ul>h5>a{
              line-height: 50px;
               text-decoration: none;
               color: white;
           }
