*{
    margin: 0;
padding: 0;
}
header{
    height: 75px;

  
    background-color: blanchedalmond;
}
.T-faxiankuwan{
    text-align: center;
}
.T-faxiankuwan p{
    font-size: 40px;
    height: 150px;
    line-height: 150px;
}
.T-faxiankuwan a{
  
    text-decoration: none;
    color: #a3a3a3;
    font-size: 18px;
    margin:0 60px;
}
.T-faxiankuwan span{
    display: inline-block;
    height: 30px;
}
.T-faxiankuwan span:nth-of-type(1){
   
    border-bottom: 4px solid rgb(254, 84, 49);

}
span .T-on
{ 
    color: rgb(254, 84, 49);
}
.T-main{
    width: 100%;
    background-color: rgb(247, 247, 247);
}

