.report-box .use dt{
    margin-bottom:35px;background:#fff;
}
.report-box{
    background:#f7f7f7;
}
.report .playMore{
    padding-top:22px;
}
.pad25{padding-top:25px;}
.fix:after{clear:both;content:"";display:block;height:0;visibility:hidden;}
.listInfo li .info{background:rgba(255,255,255,.9);}
.listInfo li .title{color:#474747;}
.listInfo .click-look{color:#a3a3a3;}
.listInfo .userInfo .avt{background:url(img/tx.jpg) no-repeat;}
.listInfo .userInfo .name{color:#fe695a;}
.listInfo .userInfo .time{color:#a3a3a3;}
.detail .listInfo{background:#fff;}
.listInfo{width:700px;}
.listInfo li{border-radius:6px;border:1px solid #e6e9e9;margin-bottom:13px;position:relative;overflow:hidden;}
.listInfo li a{display:block;}
.listInfo li .info{position:absolute;left:0;bottom:0;width:100%;box-sizing:border-box;padding:10px 22px;}
.listInfo li img{border-radius:6px;}
.listInfo li .title{font-size:18px;padding:9px 0 12px;font-weight:normal;}
.listInfo li .btm{font-size:13px;padding:16px 0 11px;}
.listInfo .click-look{text-align:center;height:48px;line-height:48px;font-size:14px;}
.listInfo .userInfo span{display:inline-block;vertical-align:middle;margin-right:5px;}
.listInfo .userInfo .avt{width:20px;height:20px;border-radius:50%;}
.listInfo .btm .icon{color:#a3a3a3;}
.detail .listInfo{border-radius:6px;margin-bottom:25px;}
.about .listInfo .grawBg{padding:25px 33px;}
.left{float:left;}
.common .info .name span{color:#a3a3a3;}
.common .info .price{color:#fe5341;}
.common .info .tip{color:#a3a3a3;}
.listInfo li .info{background:rgba(255,255,255,.9);}
.guide li .info{background:url(img/listbg.jpg) no-repeat left bottom;background-size:221px 19px;}
.listR .info .text{color:#a3a3a3;}
.listR .info h5{color:#474747;}
.common li .info{padding:7px 10px 10px;}
.common .info .name{font-size:14px;height:45px;overflow:hidden;word-break: break-all;}
.common .info .name span{display:block;font-size:12px;}
.common .info .price{font-size:14px;}
.common .info .tip{padding:13px 0;}
.listInfo li .info{position:absolute;left:0;bottom:0;width:100%;box-sizing:border-box;padding:10px 22px;}
.category dd .list .info{padding-top:12px;}
.listR .info{margin:10px 0 20px;}
.listR .info h5{font-size:16px;padding:5px 0;}
.listR .info .text{font-size:14px;}
.title{color:#474747;line-height:1.6;}
.title a.more{background:url(img/readMore.png) no-repeat right 7px;color:#fd6959;}
.useDetial .title:after{background:#fe5341;}
.listInfo li .title{color:#474747;}
.listR .title:after{background:#fe5341;}
.regBox .title:after{background:#fe5341;}
.wrap{
    margin-left: 230px;
}
.listInfo {
    transform: translateX(-30px);
}
a:-webkit-any-link{
    text-decoration: none;
}




































































































