body{
    overflow-x: hidden;
}
.focus{
    height: 300px;
    background: url("../img/original.jpg") no-repeat center top;
    color: #fff;
}
.centerbox h2{
    font-size: 34px;
    margin-bottom: 15px;
    font-weight: 500;
}
.focus-top span{
    padding: 5px 10px;
    display: inline-block;
    background: rgba(255,255,255,.3);
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
}
.time{
    font-size: 18px;
    padding: 20px 0 16px 0;
}
.btn{
    width: 242px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    border-radius: 3px;
    background: #fe5341;
    display: inline-block;
}
.btn a{
    color: #fff;

}
.focus-top {
    padding-top: 35px;
    text-align: -webkit-right;
}

.lcTit{
    font-size: 20px;
    width: 43px;
    border-left:6px solid #fe5341;
    padding-left: 11px;
}
.lcList{
    background: #f0f0f0;
    overflow: hidden;
}
.lcList dt:nth-child(1) span{
    display: block;
    width: 100%;
    height: 43px;
    background: url("../img/use1.png")no-repeat center top;
}
.lcList dt:nth-child(2) span{
    display: block;
    width: 100%;
    height: 43px;
    background: url("../img/use2.png")no-repeat center top;
}
.lcList dt:nth-child(3) span{
    display: block;
    width: 100%;
    height: 43px;
    background: url("../img/use3.png")no-repeat center top;
}
.lcList dt:nth-child(4) span{
    display: block;
    width: 100%;
    height: 43px;
    background: url("../img/use4.png")no-repeat center top;
}
.lcList dt:nth-child(5) span{
    display: block;
    width: 100%;
    height: 43px;
    background: url("../img/use5.png")no-repeat center top;
}
.lcList dt{
    float: left;
    text-align: center;
    width: 188px;
    color: #A5A5A5;
}
.useLc{
    background: #f0f0f0;
    height: 62px;
    padding: 20px 0;
}
.left{
    float: left;
}
.centerbox{
    position: relative;
}
.wrap-Zc{
    display: block;
    width: 6px;
    height: 30px;
    background: #FE5341;
    float: left;
}
.title{
    line-height: 1.8;
    color: #474747;
    font-weight: 500;
    text-indent: 15px;
    font-size: 20px;
}
.useDetial p{
    font-size: 16px;
    color: #474747;
}
.useDetial .top{
    color: red;
    font-size: 18px;
    font-weight: 600;
}
.useDetial .little{
    color: #0070C0;
    font-weight: 600;
}
.useDetial .blue{
    color: #0177A7;
}
.useDetial .red{
    color: red;
    font-weight: 600;
}
.useDetial{
    width: 700px;
}
strong{
    font-weight: 600;
}
.right{
    float: right;
}
.listR{
    width: 270px;
}
.listR .title{
    font-size: 18px;
    text-indent: 30px;
    height: 25px;
    line-height: 25px;
}
.listR .gm .money{
    color: #fe5341;
    font-size: 40px;
    padding: 20px 0 15px;
}
.listR .gm .buyBtn{
    color: #fff;
    background: #fe5341;
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    display: block;
    border-radius: 5px;
}
.listR .gm .resource{
    color: #a3a3a3;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}
.listR .info h5{
    color: #474747;
    font-size: 16px;
    padding: 5px 0;
}
.listR .text{
    font-size: 14px;
    color: #A3A3A3;
}
.listR .info {
    padding: 10px 0 20px;
}
.listR .guanzhu{
    padding-top: 40px;
}
.listR{
    position: absolute;
    top: 0;
    right: 0;
}
.useIntro{
    margin-top: 25px;
}
.use .name {
    font-size: 16px;
    height: 48px;
    font-weight: 600;
    color: #333;
}
.use dt .red {
    color: #fe5341;
}
.use dt .hot-con {
    padding: 8px 8px 14px;
    text-align: center;
    float: left;
}
.use dt .red span {
    border: 1px solid #fe5341;
    border-radius: 5px;
    padding: 4px 10px;
    display: inline-block;
    margin: 0 5px;
}
.use dt:nth-child(2) .red span{
    color: #80c269;
    border: 1px solid #80c269;
    border-radius: 5px;
    padding: 3px 10px;
    display: inline-block;
    margin: 0 5px;
}
.use dt:nth-child(2) .red {
    color: #80c269;
}
.use dt .sq span {
    color: #fe5341;
}
.use dt .sq {
    font-size: 16px;
    line-height: 28px;
    color: #333;
}
.use dt .current {
    font-size: 14px;
    line-height: 20px;
}
.use dt{
    float: left;
    transition: transform .5s;
}

.use dt .shoufa {
    background: #fe5341;
    color: #f5e8e8;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 0 0 0 6px;
    position: absolute;
    top: 0;
    right: 0;
}
.use dt .zhuanxiang {
    background: #fbf4cb;
    color: #c4a96a;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 0 0 0 6px;
    position: absolute;
    top: 0;
    right: 0;
}
.common .title {
    position: relative;
    padding: 10px 0 16px;
    font-size: 20px;
    font-weight: 600;
}
.common{
    margin-bottom: 25px;
}
.common .title a.more {
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 22px;
    padding-right: 17px;
    font-size: 14px;
    background: url("../img/readMore.png") no-repeat right 7px;
    color: #fd6959;
}
.use dl dt {
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 286px;
    float: left;
    border: 1px solid #e6e9e9;
    border-radius: 6px;
    margin-right: 37px;
}
.use dl dt:nth-child(4n) {
    margin-right: 0px;
}
.use dl{
    overflow: hidden;
    padding-top: 10px;
}
img {
    vertical-align: top;
}
.gm .buyBtn:hover{
    background: #df4938;
}


.use dt:hover{
    transform: translateY(-10px);

}

.focus .focus-top {
    text-align: right;
    padding-top: 35px;
    transform: translate(800px,-800px);
    animation: rotateIn 1s ease both;
}
/*动画*/
@keyframes rotateIn {
    0%{
        transform:translate(800px,-800px);
    }
    100%{
        transform:translate(0);
    }
}


