@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
}

input {
  outline: none;
}

body {
  background-color: #f7f7f7;
}

.x_maddle {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.x_maddle .x_banner {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: #fff;
  margin-bottom: 20px;
}

.x_maddle .x_banner .x_daogou {
  font-size: 21px;
  margin-bottom: 40px;
}

.x_maddle .x_banner .x_checkout {
  display: flex;
  font-size: 12px;
  justify-content: center;
}

.x_maddle .x_banner .x_checkout .x_zuixin {
  margin-right: 200px;
}

.x_check1 .x_zuixin_content, .x_check1 .x_zuire_content {
  width: 1000px;
  transform: translateX(16%);
}

.x_check1 .x_zuixin_content li, .x_check1 .x_zuire_content li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 220px;
  background: url(../../Ajax/极果/素材/图片/css/img/listbg.jpg) no-repeat 10px 10px;
  border: 1px solid #d8d4d4;
}

.x_check1 .x_zuixin_content li img, .x_check1 .x_zuire_content li img {
  width: 300px;
  height: 135px;
}

.x_check1 .x_zuixin_content li h4, .x_check1 .x_zuire_content li h4 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.x_check1 .x_zuixin_content li p, .x_check1 .x_zuire_content li p {
  display: flex;
  position: relative;
}

.x_check1 .x_zuixin_content li p span, .x_check1 .x_zuire_content li p span {
  position: absolute;
  right: 30px;
}

.x_check1 .x_zuixin_content li p span:nth-child(1), .x_check1 .x_zuire_content li p span:nth-child(1) {
  margin-right: 50px;
}
